<div>
	{{name}}
{{#unless devoured}}
	<button class="devour-burger" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Yummy, was delicious!{{else}}OM NOM NOM!{{/if}}
	</button>
{{/unless}}
</div>

